body {
    margin:0 auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color: #fff;
    color: #333;
}

h2,h3 {
    line-height:1.2
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px); /* Adjust width for padding and border */
}

.role-selection {
    margin-top: 10px;
    text-align: center;
}

.role-selection label {
    margin-left: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8e44ad;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #732d91;
}
